<html>
    <head>
        <link rel="stylesheet" href="/css/custom.css">
        <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>To Do List</title>
    </head>
    <body>
        <div class="container">
        <h1>{{ category.getName }}</h1>

        {% if tasks is not empty %}
            <p>Here are the tasks for this category:</p>
            <ul>
                {% for task in tasks %}
                    <li>{{ task.getDescription }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h4>Add a task to this category:</h4>

        <form action='/add_tasks' method='post'>
            <input id='category_id' name='category_id' type='hidden' value='{{ category.getId() }}'>

            <label for ='task_id'>Select a task</label><br/>
            <select id='task_id' name='task_id' type='text'>
            {% for task in all_tasks %}
                <option value="{{ task.getId }}"> {{ task.getDescription }}</option>
            {% endfor %}
            </select>
            <button type="submit">Add task</button>
        </form>

        <a href="/categories/{{ category.getId }}/edit"> <button class="btn btn-default">Edit this category</button></a>

        <a href="/"><button class="btn btn-default">Home</button></a>
        </div>
    </body>
</html>
